@import "../../_settings.scss";


.cartagena-info {
	.splash-background {
		background: #C5C5C5 url('/img/cartagena-info/splash-background/large.jpg') left top/cover no-repeat fixed;

		@include breakpoint(medium) {
			background: #C5C5C5 url('/img/cartagena-info/splash-background/large.jpg') right top/cover no-repeat fixed;
			height: rem-calc(650);
		}

		// @include breakpoint(large) {
		// 	background: #C5C5C5 url('/img/cartagena-info/large.jpg') 30% top/cover no-repeat fixed;
		// }
	}
}

