@import "../../_settings.scss";

@import "_background.scss";


.linkGallery {
	background-color: #FEFEFE;

	.sectionTitle {
		padding: rem-calc(40) 0;
	}

	.linkGallery-item {
		height: rem-calc(230);
		margin-bottom: rem-calc(40);
		border-width: rem-calc(3);
		border-style: solid;
		border-radius: rem-calc(4);

		table {
			margin: 0;

			tbody {
				border: 0;
				background-color: transparent;
			}

			td {
				height: rem-calc(220);
				padding: 0 rem-calc(10);
			}
		}

		img {
			width: 100%;
		}
	}

	.linkGallery-item#lure {
		background: #fff;
		border-color: #17E5C5;
		box-shadow: 0 2px 2px 0 rgba(23,229,197,0.20), 0 6px 10px 0 rgba(23,229,197,0.30);
	}

	.linkGallery-item#wanderlustKitchen {
		background: #252525;
		border-color: #ECCB3C;
		box-shadow: 0 2px 2px 0 rgba(236,203,60,0.20), 0 6px 10px 0 rgba(236,203,60,0.30);
	}

	.linkGallery-item#lonelyPlanet {
		background: #002E72;
		border-color: #EE692B;
		box-shadow: 0 2px 2px 0 rgba(238,104,43,0.20), 0 6px 10px 0 rgba(238,104,43,0.30);
	}

	.linkGallery-item#ananda {
		background: #9AC1E7;
		border-color: #ADA370;
		box-shadow: 0 2px 2px 0 rgba(173,163,111,0.20), 0 6px 10px 0 rgba(173,163,111,0.30);
	}

	.linkGallery-item#bastion {
		background: #F2F2F2;
		border-color: #401F20;
		box-shadow: 0 2px 2px 0 rgba(64,31,32,0.20), 0 6px 10px 0 rgba(64,31,32,0.30);
	}

	.linkGallery-item#santaTeresa {
		background: #000;
		border-color: #16BFF0;
		box-shadow: 0 2px 2px 0 rgba(22,191,240,0.20), 0 6px 10px 0 rgba(22,191,240,0.30);
	}

	.linkGallery-item#casaPestagua {
		background: #F6F6F6;
		border-color: #B89B66;
		box-shadow: 0 2px 2px 0 rgba(184,155,102,0.20), 0 6px 10px 0 rgba(184,155,102,0.30);
	}

	.linkGallery-item#radisson {
		background: #424242;
		border-color: #B9CE00;
		box-shadow: 0 2px 2px 0 rgba(185,206,0,0.20), 0 6px 10px 0 rgba(185,206,0,0.30);
	}

	.linkGallery-item#santaClara {
		background: #fff;
		border-color: #000;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.20), 0 6px 10px 0 rgba(0,0,0,0.30);
	}

	.linkGallery-item#travelGov {
		background: #0069A5;
		border-color: #fff;
		box-shadow: 0 2px 2px 0 rgba(16,88,147,0.20), 0 6px 10px 0 rgba(16,88,147,0.30);
		max-width: rem-calc(240);
		width: 100%;
		margin: 0 auto rem-calc(50);
		height: auto;
	}
}

.linkGallery#experience-cartagena {
	background: #FAF9F9 url('/img/cartagena-info/experience-cartagena/background/flower-detail.png') left top/auto no-repeat;
}

.linkGallery#stay-in-cartagena {
	background: #fff;
	border-top: rem-calc(6) solid #EB391F;
	border-bottom: rem-calc(6) solid #EB391F;
}

.linkGallery#safe-in-cartagena {
	background: #FAF9F9 url('/img/cartagena-info/safe-in-cartagena/background/flower-detail.png') right bottom/auto no-repeat;
}