@import "../../_settings.scss";

@import "_background.scss";


#index {
	background: #A6A6A6;

	a.button.large {
		border: rem-calc(3) solid #fff;
		background: #6D6D6D;
		border-radius: rem-calc(5);
		font-size: rem-calc(22);
		font-family: $sans-serif-font;
		color: #fff;
		text-shadow: 0 rem-calc(1) rem-calc(3) #000;

		&:hover {
			background: rgba(241,241,241,0.55);
			color: #000;
			text-shadow: none;
		}
	}
}

