@font-face {
  font-family: 'Baskerville MT Pro';
  src: url('baskerville-regular.eot'); /* IE9 Compat Modes */
  src: url('baskerville-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('baskerville-regular.woff') format('woff'), /* Modern Browsers */
       url('baskerville-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('baskerville-regular.svg#0056e359605c42173e61fed2212d8c03') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

