@import "../_settings.scss";


// -------------------------------------------
// |            LARGE RSVP BUTTON            |
// -------------------------------------------

// nav.mainNav {
// 	padding: rem-calc(20) 0;

// 	a {
// 		font-family: $sans-serif-font;
// 		font-size: rem-calc(32);
// 		color: #fff;
// 		letter-spacing: rem-calc(1.2);
// 		text-shadow: 0 rem-calc(1) rem-calc(3) #000;
// 		border: 3px solid #fff;
// 		padding: rem-calc(8) rem-calc(16);
// 		border-radius: rem-calc(5);

// 		&:hover {
// 			background: rgba(241,241,241,0.55);
// 		}
// 	}
// }

// ----------------------------------
// |            <HEADER>            |
// ----------------------------------

header {
	margin-bottom: rem-calc(60); 
	background: rgba(0,0,0,0.35);

	.menu-icon {
		margin: rem-calc(16); 
		width: rem-calc(26);
	}
}

// ----------------------------------------
// |            HORIZONTAL NAV            |
// ----------------------------------------

nav.mainNav {
	// padding: rem-calc(12) 0;

	ul.menu {
		padding: rem-calc(12) 0;
		
		li.language-switch {
			a {
				padding: 0;
			}
		}

		li {
			text-align: center;
			
			a {
				font-family: $sans-serif-font;
				font-size: rem-calc(18);
				color: #fff;
				line-height: $header-lineheight;
				letter-spacing: rem-calc(1);
				text-shadow: 0 rem-calc(1) rem-calc(3) #000;
				text-transform: uppercase;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		li.active {
			a {
				background: none;
				text-decoration: underline;
			}
		}
	}
}

// --------------------------------------------------
// |            VERTICAL OFF-CANVAS MENU            |
// --------------------------------------------------

.off-canvas {
	background: rgba(0,0,0,0.5);

	.menu {
		li {
			a {
				font-family: $sans-serif-font;
				color: $white;
			}

			&:hover {
				background: $white;

				a {
					color: $black;
				}
			}
		}

		li.active {
			a {
				background: $white;
				color: $black;
			}
		}
	}
}