@import "../../_settings.scss";

@import "_background.scss";


.registry {
	.pageTitle {
		margin-top: rem-calc(80);
		@include breakpoint(medium) {
			margin-top: rem-calc(120);
		}
	}

	article {
		padding: rem-calc(32) rem-calc(16);
		margin-bottom: rem-calc(40);
		background: $white; 
		box-shadow: $z-1;

		h3 {
			text-transform: none;
		}

		p,
		h5 {
			font-family: $sans-serif-font;
		}
	}
}

